In [33]:
import random

# Population
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# Random sample of size 5 (without replacement)
sample = random.sample(data, 5)
print("Simple Random Sample (Without Replacement):", sample)

Simple Random Sample (Without Replacement): [8, 4, 2, 1, 3]

In [36]:
# Random sample of size 5 (with replacement)
sample = random.choices(data, k=5)
print("Simple Random Sample (With Replacement):", sample)

Simple Random Sample (With Replacement): [5, 7, 10, 7, 3]

In [40]:
# Single random sample from the list
sample = random.choices(data)
print("Single Random Sample", sample)

Single Random Sample [7]

In [41]:
# Systematic sampling (every 3rd element)
interval = 3
systematic_sample = data[::interval]
print("Systematic Sample:", systematic_sample)

Systematic Sample: [1, 4, 7, 10]

In [42]:
import pandas as pd
data = pd.read_csv("C:\\Users\\Siddhu\\Downloads\\scholarship.csv")
data.head()

,Student ID,Name,Gender,Age,City,State,Phone Number,Scholarship Amount (INR)
0,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
1,102,Priya Sharma,Female,22,Delhi,Delhi,9876543211,45000
2,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
3,104,Ayesha Khan,Female,23,Bengaluru,Karnataka,9876543212,55000
4,105,Ravi Kumar,Male,22,Hyderabad,Telangana,9876543213,48000

In [43]:
# Random sample without replacement
sample = data.sample(n=4)
sample

,Student ID,Name,Gender,Age,City,State,Phone Number,Scholarship Amount (INR)
5,106,Priya Sharma,Female,22,Delhi,Delhi,9876543214,45000
0,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
2,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
4,105,Ravi Kumar,Male,22,Hyderabad,Telangana,9876543213,48000

In [47]:
# Random sample without replacement
sample = data.sample(n=4, replace=True)
sample

,Student ID,Name,Gender,Age,City,State,Phone Number,Scholarship Amount (INR)
3,104,Ayesha Khan,Female,23,Bengaluru,Karnataka,9876543212,55000
6,107,Anjali Patel,Female,24,Mumbai,Maharashtra,9876543215,52000
0,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
1,102,Priya Sharma,Female,22,Delhi,Delhi,9876543211,45000

In [48]:
# stratified Sample
stratified_sample = data.groupby('Gender').sample(n=2)
stratified_sample

,Student ID,Name,Gender,Age,City,State,Phone Number,Scholarship Amount (INR)
3,104,Ayesha Khan,Female,23,Bengaluru,Karnataka,9876543212,55000
1,102,Priya Sharma,Female,22,Delhi,Delhi,9876543211,45000
4,105,Ravi Kumar,Male,22,Hyderabad,Telangana,9876543213,48000
2,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000

In [49]:
# Systematic Sample
systematic_sample = data.iloc[::3]
systematic_sample

,Student ID,Name,Gender,Age,City,State,Phone Number,Scholarship Amount (INR)
0,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
3,104,Ayesha Khan,Female,23,Bengaluru,Karnataka,9876543212,55000
6,107,Anjali Patel,Female,24,Mumbai,Maharashtra,9876543215,52000

In [51]:
# Fraction of sample
fraction_sample = data.sample(frac=0.5)
fraction_sample

,Student ID,Name,Gender,Age,City,State,Phone Number,Scholarship Amount (INR)
2,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
0,101,Rohan Mehta,Male,21,Mumbai,Maharashtra,9876543210,50000
6,107,Anjali Patel,Female,24,Mumbai,Maharashtra,9876543215,52000
3,104,Ayesha Khan,Female,23,Bengaluru,Karnataka,9876543212,55000

In [59]:
city_cluster = data[data['City'] == data['City'].sample(1)]
city_cluster

ValueError: Can only compare identically-labeled Series objects

In [60]:
from sklearn.datasets import make_classification
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
from sklearn.model_selection import train_test_split

In [61]:
X, y = make_classification(n_samples=1000, n_features=5, n_classes=2,
                           weights=[0.9, 0.1], random_state=42)
print("Original class distribution:", Counter(y))

Original class distribution: Counter({np.int64(0): 895, np.int64(1): 105})

In [62]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)
print("After Train/Test Split:", Counter(y_train))

After Train/Test Split: Counter({np.int64(0): 671, np.int64(1): 79})

In [63]:
 # Random Oversampling (ROS)
ros = RandomOverSampler(sampling_strategy='auto', random_state=42)
X_ros, y_ros = ros.fit_resample(X_train, y_train)
print("After Random Oversampling:", Counter(y_ros))

After Random Oversampling: Counter({np.int64(0): 671, np.int64(1): 671})

In [64]:
# Random Undersampling (RUS)
rus = RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_rus, y_rus = rus.fit_resample(X_train, y_train)
print("After Random Undersampling:", Counter(y_rus))

After Random Undersampling: Counter({np.int64(0): 79, np.int64(1): 79})

In [22]:
# SMOTE (Synthetic Minority Over-sampling Technique)
smote = SMOTE(sampling_strategy='auto', random_state=42)
X_smote, y_smote = smote.fit_resample(X_train, y_train)
print("After SMOTE:", Counter(y_smote))

After SMOTE: Counter({np.int64(0): 671, np.int64(1): 671})

In [67]:
 # Random Oversampling (ROS)
ros = RandomOverSampler(sampling_strategy=1.5, random_state=42)
X_ros, y_ros = ros.fit_resample(X_train, y_train)
print("After Random Oversampling:", Counter(y_ros))

InvalidParameterError: The 'sampling_strategy' parameter of RandomOverSampler must be a float in the range (0.0, 1.0], a str among {'minority', 'not majority', 'auto', 'not minority', 'all'}, an instance of 'collections.abc.Mapping' or a callable. Got 1.5 instead.

In [69]:
# Random Oversampling (ROS)
ros = RandomOverSampler(sampling_strategy={0: 671, 1: 250}, random_state=42)
X_ros, y_ros = ros.fit_resample(X_train, y_train)
print("After Random Oversampling:", Counter(y_ros))

After Random Oversampling: Counter({np.int64(0): 671, np.int64(1): 250})